<div>
    <form>
        <div class="form-content">
            <div>
                <label for="tags"><b>Tags</b> <small>These are the keywords used to look for tracks to interact with</small></label>
                <div>
                    <input type="text" />
                </div>
            </div>
            <div>
                <label for="tags"><b>Tags</b> <small>These are the keywords used to look for tracks to interact with</small></label>
                <div>
                    <input type="text" />
                </div>
            </div>
            <div>
                <label for="tags"><b>Tags</b> <small>These are the keywords used to look for tracks to interact with</small></label>
                <div>
                    <input type="text" />
                </div>
            </div>
           <button type="submit"> Save Credentials</button>
        </div>
    </form>
</div>